{% extends 'base.html.twig' %}

{% block title %}SMS-Manager{% endblock %}

{% block body %}
    <table id="sms_report" class="table table-striped">
        <thead>
        <tr>
            <th>Report</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Total SMS Sent</td>
            <td>{{ total_sms_count }}</td>
        </tr>
        <tr>
            <td>Total SMS Sent by Api1</td>
            <td>{{ api1_sms_count }}</td>
        </tr>
        <tr>
            <td>Total SMS Sent by Api2</td>
            <td>{{ api2_sms_count }}</td>
        </tr>
        <tr>
            <td>Unsuccessful SMS Sent Percent by Api1</td>
            <td>{{ unsuccessful_api1_sms_count }}</td>
        </tr>
        <tr>
            <td>Unsuccessful SMS Sent Percent by Api2</td>
            <td>{{ unsuccessful_api2_sms_count }}</td>
        </tr>
        <tr>
            <td>Most 10 numbers SMS Sent</td>
            <td>
                {% for num in most_10number %}
                    {{ num.number }}
                    <br>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/sms_list">Go Back</a>
{% endblock %}